body {
  margin: 0px;
  padding: 0px;
}

header {
  width: 100%;
  text-align: right;
  border-bottom: 1px solid #F6F6F6;
}

header li {
  list-style: none;
  display: inline-block;
}

header li:last-child {
  margin-right: 75px;
}

header a {
  margin-left: 50px;
}

header .message :hover path {
  fill: #25A3DD;
}

header .wickr :hover path {
  fill: #080808;
}

header .email :hover path {
  fill: #DA9F39;
}

.meniu {
  -webkit-transition: top bottom ease 1.5s;
  transition: top bottom ease 1.5s;
}

.meniu img {
  position: relative;
  width: 240px;
  height: 28.88px;
  left: 75px;
  top: 50px;
}

.meniu ul {
  text-align: right;
  margin-top: 0px;
}

.meniu ul :hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.meniu ul li {
  display: inline-block;
  padding-right: 45px;
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.meniu ul li :hover {
  color: #56AB35;
}

.meniu ul li a {
  text-decoration: none;
  color: #626363;
}

.meniu ul li .cart :hover path {
  stroke: #56AB35;
}

.meniu ul li:last-child {
  position: relative;
  margin-right: 95px;
  top: 10px;
}

.News {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.News h1 {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #626363;
  position: absolute;
  width: 630px;
  height: 45px;
  left: 75px;
  top: 250px;
}

.News p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #626363;
  position: absolute;
  width: 630px;
  height: 120px;
  left: 75px;
  top: 325px;
}

.News span :hover {
  color: #FFFFFF;
  background-color: #56AB35;
  -webkit-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}

.News button {
  position: absolute;
  width: 300px;
  height: 50px;
  left: 75px;
  top: 475px;
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #56AB35;
  border: 2px solid #56AB35;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 7px;
  cursor: pointer;
  background-color: transparent;
}

.News .PhonesPhotos .IphonePicture {
  position: absolute;
  width: 199.07px;
  height: 400px;
  right: 217.93px;
  top: 204px;
}

.News .PhonesPhotos .PhoneBehind {
  position: absolute;
  width: 174.13px;
  height: 360px;
  right: 355.87px;
  top: 224px;
}

.News .background {
  position: absolute;
  right: 0px;
  opacity: 0.54;
  top: 0px;
  z-index: -10;
}

.Shop h2 {
  position: absolute;
  width: 294px;
  height: 28px;
  left: 75px;
  top: 695px;
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #626363;
}

.Shop .item1 {
  position: absolute;
  width: 300px;
  height: 402px;
  left: 75px;
  top: 803px;
}

.Shop .item1 img {
  width: 300px;
  height: 300px;
}

.Shop .item1 .quantity {
  margin-top: -4px;
  background-color: #FBFBFB;
}

.Shop .item1 .quantity .button_minus {
  border: none;
  width: 55px;
  height: 50px;
  left: 75px;
  color: #C4C4C4;
  background-color: #FBFBFB;
  text-align: center;
}

.Shop .item1 .quantity .input_qty {
  width: 60px;
  height: 50px;
  background: #FBFBFB;
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  border: none;
  color: #626363;
}

.Shop .item1 .quantity .button_plus {
  width: 55px;
  height: 50px;
  left: 190px;
  color: #C4C4C4;
  background-color: #FBFBFB;
  text-align: center;
  border: none;
}

.Shop .item1 .quantity .Price {
  width: 129px;
  height: 50px;
  background: #FBFBFB;
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #626363;
  border-left: 1px solid #FFFFFF;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30.5px;
  padding-right: 30.5px;
}

.Shop .item1 .Add_To_Cart {
  width: 300px;
  height: 50px;
  border: none;
}
/*# sourceMappingURL=style.css.map */